@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to the JYT Game store!</h1>
    <br />
    <br />
    <img src="~/JYTLogo.JPG" />

</div>
