@model JYTGameStore.Models.Game
@*It finds post action method creat*@
<form method="post" asp-action="PostDelete">

    @*To get id as well when post the form*@
    <input asp-for="gameId" hidden />

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Game here</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="GameName">Game Name</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="GameName" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="GameDescription">Game Description</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="GameDescription" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Delete a game" />
                        </div>
                        <div class="col">
                            @*use the same controller so no specify asp-controller*@
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

